gitscripts/default/machinemapping.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   targetNamespace="https://dueca.tudelft.nl"
	   xmlns="https://dueca.tudelft.nl"
	   elementFormDefault="qualified">

  <xs:element name="nodes">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="node" type="node_t"
		    minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="node_t">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="machineclass" type="xs:string"/>
    <xs:attribute name="sparse-checkout" type="xs:boolean"/>
  </xs:complexType>
</xs:schema>
